@import '/src/styles/Form.css';
*{
  margin: 0;
  padding: 0;
}
:root{
  --primaryFont:CircularStd,sans-serif;
}

.main {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}
.spinner-container{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%);
  min-height: 100vh;
}
.link{
  text-decoration:none;
  color:inherit;
}
.loader{
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.fullHeight{
  height: 100vh;
}
#navbar{
  z-index: 100000;
  position:fixed;
  right:0;
}

#navbar ul{
  padding:0 20px 0 10px;
  color :#fff;
}

#navbar ul li{
  position: relative;
  flex-direction: row;
  display: block;
  margin:30px 0 30px 0;
  cursor: pointer;
  padding:10px 20px 30px 10px;

}
.label{
font-family: var(--primaryFont);
font-size: 18px;
right:80px;
top:45px;
color: rgba(56, 79, 125, 0.8);
text-shadow:#808080;
}
p{
  font-family: var(--primaryFont);
}
#maroun{
   position: absolute; 
  opacity: 0.6;
top: -120px;
 left: 20%;
height: 150px;
border-radius: 50%;
width: 150px;
z-index: 2;
  background: linear-gradient(228.76deg, #2DEEF9 -34.42%, #E084F1 127.18%);
  transform: rotate(-15.82deg); 
  animation: moonwave 7.5s linear infinite;
} 
#maroun2{
  position: absolute; 
 opacity: 0.4;
top: 120px;
left: 20%;
height: 60px;
border-radius: 50%;
width: 60px;
z-index: 2;
 background: linear-gradient(228.76deg, #2DEEF9 -34.42%, #E084F1 127.18%);
 transform: rotate(-15.82deg); 
 animation: moonwave 9s cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
} 
#moonly2{
  position: absolute;
  opacity: 0.3;
top: 50px;
 right: 10%;
/* bottom: 83.37%; */
height: 80px;
border-radius: 50%;
width: 80px;
z-index: 0.8;
  background: linear-gradient(147.47deg, #FEB665 24.48%, #F66EB4 118.65%);
  animation: wave 8s linear infinite;
}
#moonly{
  position: absolute;
  opacity: 0.3;
top: 50px;
 right: 10%;
/* bottom: 83.37%; */
height: 80px;
border-radius: 50%;
width: 80px;
z-index: 0.8;
  background: linear-gradient(147.47deg, #FEB665 24.48%, #F66EB4 118.65%);
  animation: wave 10s linear infinite;
}
#timelinelabel,#notlabel{
  position: absolute;
  top: 15px;
  right: 80px;
}
#revewlabel{
  position: absolute;
  width: 120px;
  top:15px;
  right:80px;
}
#booklabel{
  position: absolute;
  top: 15px;
  right:80px;
  width: 100px;
}
#booklabel,#timelinelabel,#notlabel,#revewlabel{
  display: none;
}

#books:hover #booklabel{
display: block;
}

#notifications:hover #notlabel{
  display: block;
}

#Timeline:hover #timelinelabel{
  display: block;
}
#reviews:hover #revewlabel{
  display: block;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
.base-shape{
  margin: auto;
  text-align: center;
  height:200px;
  width:200px;
  z-index: 1000;
  background: linear-gradient(73.12deg, #25CED1 -19.51%, #34E6E9 58.02%, #6AFCFF 138%);
  border-radius:50%; 

}
.button-section{
  margin-top: 20px;
}
#button{
  padding: 0.9em;
  font-family: var(--primaryFont);
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width:35%;
  z-index: 1000;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19);
  outline: 0;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
border-radius: 8px;
}
.wish-item{
  align-items: center;
  text-align: center;
  padding: 20px;
  flex-direction:row;
}
.wish-item-section{
  margin-top:20px;
}
.itemSection{
  flex-direction: column;
  display: inline-block;
  margin:0 40px 5px 40px;
  /* padding:5px 25px 5px 10px; */
  text-align: center;
}
#rail,#dish,#scar{
  border-radius:10px;
  max-width: 100%;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19);
}
.base-mark-circle{
  margin: auto;
  width: 126px;
  height: 126px;
  z-index: 1000;
  background: linear-gradient(117.45deg, rgba(114, 255, 153, 0.6) -91.36%, rgba(0, 210, 58, 0.6) 232.4%);
  border-radius:50%;
}

#interested-items{
  font-family: var(--primaryFont);
font-size: 12px;
line-height: normal;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: rgba(56, 79, 125, 0.8);
}
.bottom-text{
  /* position: absolute;
  bottom: -30%; */
  /* left: 48%; */
  font-family: var(--primaryFont);
  font-size: 18px;
  line-height: normal;
  text-align: center;
  /* text-decoration-line: underline; */
  margin: auto;
  color: #445984;
  margin-top: 100px;
}
.star{
  background: linear-gradient(141.64deg, #FFF17C -3.59%, #FF8B8E 118.04%);
}
.wrapper{
  position: relative;
  width: 100%;
  margin-top: -3%;
}
#img1{
  z-index: 500;
  display: block;
  /* background-image: url('/src/images/rail.png')no-repeat; */
}
.submit{
  margin-top:3%; 
}
#flibbook{
  margin-top: 28%;
}
.text-section{
  margin-top: 40%;
}

#mark{
  margin-top: 24%;
}
.description{
  font-family: var(--primaryFont);
font-size: 16px;
line-height: 22px;
text-align: center;
color: rgba(56, 79, 125, 0.8);
}
.menu{
  position:fixed;
  top:40px;
   z-index:1000;
  
   left:4%;
}

#header{
  margin:20px 0 10px 0;
  font-family: var(--primaryFont);
  font-size: 30px;
  line-height: normal;
  text-align: center;
  color: #384F7D;
}
/* 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@keyframes wave {
  0% {
    top: 55px;
    right: 20%;
    z-index: 0.2;
    transform: scale(2);
  } 
  25%{
    top: 300px;
    right: 25%;
    z-index: 0.2;
    transform: scale(1.5);
  }
  50% {
    top:400px;
    right: 60%;
    transform: scale(0.5);
  }
  100% {
    top:50px;
    right: 10%;
    transform: scale(1);
    z-index: 0.2;
  }

} 

@keyframes moonwave {
  0% {
    top: 120px;
    left: 30%;
    transform: scale(0.25);
    z-index: 0.2;
  } 
  25%{
    top: 300px;
    left: 35%;
    z-index: 0.6;
    transform: scale(0.7);
  }
  50% {
    top:350px;
    left: 60%;
    z-index: 0;
    transform: scale(0.5);
  }
  100% {
    top:120px;
    right: 0%;
    z-index: 0.2;
    transform: scale(1);
  }
} 

@media (min-width: 320px) and (max-width: 480px) {
  .description{
    font-size: 14px;
    padding: 0 10px 0 10px;
  }
  
}

@media (min-width: 320px) and (max-width: 480px){
  #navbar{
    display: none;
  }
}